extends layout


block content
  link(rel="stylesheet", href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css")
  h1 Coding Solution
  h2 Select Options
  .row
    .col-sm-12
      form(action="/codingsolution", method="get")
        label School &nbsp
        select#school(name="school") 
          each school in dropdowns.schools
            option(value=school.key selected = selection.school == school.key) #{school.name}
        br
        label(for="fund") Fund &nbsp &nbsp
        select#fund(name="fund")
          each fund in dropdowns.funds
            option(value=fund.fund selected = selection.fund == fund.fund) #{fund.name}
        br
        label(for="fund") Year &nbsp &nbsp &nbsp
        select#fund(name="fiscalYear")
          each year in dropdowns.years
            option(value=year.year selected = selection.fiscalYear == year.year) #{year.name}
        button(type="submit")  Change

  #table-wrapper
    table.table#coding-solution.nowrap
      thead
        th Code
        th Description
        th Note
      tbody
        each code in codes
          tr
            td #{code.accountCode}
            td #{code.description}
            td #{code.notes}
  
block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js')
  script(src='https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js')
  script(src='/js/codingsolution/fecodingsolution.js')